<mat-toolbar class="w-full elevated py-2" style="height: 55px;">
    <div class="grid w-full grid-cols-12 items-center gap-4">


        <!-- Left: menu + title -->
        <div class="col-span-6 md:col-span-9 flex items-center gap-1">
            <button matIconButton (click)="sidenavService.toggle()" class="">
                <mat-icon class="">menu</mat-icon>
            </button>
            <div class="cursor-pointer flex items-center justify-center" routerLink="/">
                <!-- <img src="./assets/logo4.png" alt="Khyber Foods" class="h-10 w-12 object-cover"> -->
                <span class="text-lg font-medium">Khyber Foods</span>
            </div>
        </div>


        <!-- Right: actions -->
        <div class="col-span-6 md:col-span-3 flex items-center justify-end">
            <app-header-actions></app-header-actions>
        </div>
    </div>
</mat-toolbar>



<div class="">
    @if (searchLoadingService.showProgressBar()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
</div>