<div appViewPanel class="w-full">
    <iframe class="w-full h-[500px]" title="Collection Location"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2430.1141554524766!2d-1.8638621234683834!3d52.47706877204998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bb75d0dd3497%3A0xe9d0527d4f2d15b9!2sKhyber%20Foods!5e0!3m2!1sen!2s!4v1776313739505!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>



