<form [formGroup]="searchForm" (ngSubmit)="searchQuery()">
    <div appViewPanel class="flex items-center w-full px-4 py-1">

        <!-- Search icon -->
        <button matIconButton class="mt-2 pr-2" type="submit" (click)="searchQuery()">
            <mat-icon class="text-gray-500">search</mat-icon>
        </button>


        <!-- Input -->
        <input matInput autofocus type="text" placeholder="Search products..." formControlName="searchInput"
            class="flex-1 outline-none text-sm text-gray-700 placeholder-gray-400" />



        <!-- Clear button (optional like in image) -->
        <button matIconButton class="mt-2 p-0" (click)="clearSearch()">
            <mat-icon class="text-gray-500">close</mat-icon>
        </button>

    </div>
</form>