    <div class="flex items-center w-full border rounded-xl my-4" style="background-color: var(--app-surface); border-color: var(--app-border);">

        <!-- Search icon -->
        <button matIconButton class="ml-2">
            <mat-icon class="" style="color: var(--app-icon-color);">search</mat-icon>
        </button>


        <!-- Input -->
        <input matInput autofocus type="text" placeholder="Search products..."
            class="flex-1 outline-none text-sm placeholder-gray-400" style="color: var(--app-search-text);"
            (keyup)="applyFilter($event)"/>



        <!-- Clear button (optional like in image) -->
        <button matIconButton type="button" class="mr-2" (click)="clearSearch()">
        <mat-icon style="color: var(--app-icon-color);">close</mat-icon>
        </button>

    </div>
