@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font: var(--mat-sys-body-medium);

  
  background-color: var(--app-bg);
  color: var(--app-text);
  transition: background-color 0.3s ease, color 0.3s ease;

  @include mat.dialog-overrides((
    container-shape: 6px,
  ));

  --mat-sys-body-large-size: 0.875rem;
}