@use '@angular/material' as mat;

/* Base theme (shared config) */
:root {
  @include mat.theme((
    color: mat.$violet-palette,
    typography: (
      plain-family: 'Inter',
      brand-family: 'Inter',
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400
    ),
    density: 0
  ));
}

/* =========================
   🌞 LIGHT THEME
========================= */
.light-theme {
  color-scheme: light;

  @include mat.theme-overrides((
    primary: #006043,
    'on-primary': #ffffff,

    secondary: #006043,
    'on-secondary': #ffffff,

    surface: #fffbfe,
    'on-surface': #1c1b1f,

    background: #fffbfe,
    'on-background': #1c1b1f,

    error: #b3261e,
    'on-error': #ffffff,

    outline: #79747e
  ));
}

/* =========================
   🌙 DARK THEME
========================= */
.dark-theme {
  color-scheme: dark;

  @include mat.theme-overrides((
    primary: #ff0000,
    'on-primary': #fff,

    secondary: #cbc2db,
    'on-secondary': #433d51,

    surface: #0f0d12,
    'on-surface': #eae3ef,

    background: #0f0d12,
    'on-background': #eae3ef,

    error: #f97386,
    'on-error': #490013,

    outline: #78737e
  ));
}

/* =========================
   🎨 COMPONENT OVERRIDES
========================= */
.mat-mdc-menu-panel {
  --mat-menu-container-color: #fff;
  --mat-menu-container-shape: 12px;
  --mat-menu-divider-color: #006043;

  --mat-menu-item-label-text-color: #006043;
  --mat-menu-item-icon-color: #006043;

  --mat-menu-item-hover-state-layer-color: #006043;
  --mat-menu-item-focus-state-layer-color: #ffffff1f;

  --mat-menu-container-elevation-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.mat-mdc-menu-panel .mat-mdc-menu-content .mat-mdc-menu-item:hover,
.mat-mdc-menu-panel .mat-mdc-menu-content .mat-mdc-menu-item.cdk-program-focused,
.mat-mdc-menu-panel .mat-mdc-menu-content .mat-mdc-menu-item.cdk-keyboard-focused {
  --mat-menu-item-label-text-color: #ffffff !important;
  --mat-menu-item-icon-color: #ffffff !important;
  background-color: #006043 !important;
}