<div appViewPanel class="">

    <div class="flex flex-col gap-4">

        <div class="border rounded-xl p-3" style="background-color: var(--app-surface); border-color: var(--app-border);">
            <h2 class="text-sm md:text-xl font-bold mb-3">Collection Location</h2>
            <p>{{ store.checkout().collectionLocation }}</p>
        </div>

        <div class="border rounded-xl p-3" style="background-color: var(--app-surface); border-color: var(--app-border);">
            <h2 class="text-sm md:text-xl font-bold mb-3">Choose your collection date</h2>
            <app-collection-date></app-collection-date>
        </div>

        <div class="border rounded-xl p-3" style="background-color: var(--app-surface); border-color: var(--app-border);">
            <h2 class="text-sm md:text-xl font-bold mb-3">Choose your collection time</h2>
            <app-collection-time></app-collection-time>
        </div>
    </div>


</div>