#global-loader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.dark-theme #global-loader {
  background: #121212;
}
