<div class="mx-auto flex gap-4">
    <ng-container *ngFor="let menu of menus; let i = index">

        <div class="" [matMenuTriggerFor]="menuRef">
            <div class="flex items-center menu-item">
                <span>{{ menu.label }}</span>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
        </div>

        <!-- MENU -->
        <mat-menu #menuRef="matMenu">

            <!-- MEGA MENU -->
            <ng-container *ngIf="menu.type === 'mega'">
                <div class="grid grid-cols-2 md:grid-cols-3 gap-4 p-4 w-[720px] max-w-[95vw]">

                    <div *ngFor="let section of menu.sections">
                        <h1 class="font-bold mb-2">{{ section.title }}</h1>

                        <div *ngFor="let item of section.items" class="flex justify-between items-center">
                            <button matButton>{{ item.label }}</button>
                        </div>
                    </div>

                </div>
            </ng-container>

            <!-- SIMPLE MENU -->
            <ng-container *ngIf="!menu.type">
                <ng-container *ngFor="let item of menu.items">

                    <!-- ITEM WITH CHILDREN -->
                    <button mat-menu-item *ngIf="item.children" [matMenuTriggerFor]="childMenu">
                        {{ item.label }}
                    </button>

                    <!-- SIMPLE ITEM -->
                    <button mat-menu-item *ngIf="!item.children">
                        {{ item.label }}
                    </button>

                    <!-- CHILD MENU -->
                    <mat-menu #childMenu="matMenu">
                        <button mat-menu-item *ngFor="let child of item.children">
                            {{ child.label }}
                        </button>
                    </mat-menu>

                </ng-container>
            </ng-container>

        </mat-menu>

    </ng-container>
</div>