@use '@angular/material' as mat;

/* Root theme (ONLY place where mat.theme is used) */
:root {
  color-scheme: light dark;

  @include mat.theme((
    color: mat.$violet-palette,
    typography: (
      plain-family: 'Inter',
      brand-family: 'Inter',
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400
    ),
    density: 0
  ));

  @include mat.theme-overrides((
    primary: light-dark(#006043, #cdc0ec),
    'on-primary': light-dark(#ffffff, #443a5f),

    secondary: light-dark(#006043, #cbc2db),
    'on-secondary': light-dark(#ffffff, #433d51),

    surface: light-dark(#fffbfe, #0f0d12),
    'on-surface': light-dark(#1c1b1f, #eae3ef),

    background: light-dark(#fffbfe, #0f0d12),
    'on-background': light-dark(#1c1b1f, #eae3ef),

    error: light-dark(#b3261e, #f97386),
    'on-error': light-dark(#ffffff, #490013),

    outline: light-dark(#79747e, #78737e)
  ));
}

/* Menu customization */
.mat-mdc-menu-panel {
  --mat-menu-container-color: #fff;
  --mat-menu-container-shape: 12px;
  --mat-menu-divider-color: #006043;

  --mat-menu-item-label-text-color: #006043;
  --mat-menu-item-icon-color: #006043;

  --mat-menu-item-hover-state-layer-color: #006043;
  --mat-menu-item-focus-state-layer-color: #ffffff1f;

  --mat-menu-container-elevation-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* Change label + icon color when item is hovered/focused */
/* Stronger selector */
.mat-mdc-menu-panel .mat-mdc-menu-content .mat-mdc-menu-item:hover,
.mat-mdc-menu-panel .mat-mdc-menu-content .mat-mdc-menu-item.cdk-program-focused,
.mat-mdc-menu-panel .mat-mdc-menu-content .mat-mdc-menu-item.cdk-keyboard-focused {
  --mat-menu-item-label-text-color: #ffffff !important;
  --mat-menu-item-icon-color: #ffffff !important;
  background-color: #006043 !important;
}

