@use '@angular/material' as mat;
@use 'tailwindcss';


// Core system
@use './styles/theme';

// UI layers
@use './styles/layout';
@use './styles/buttons';

// Helpers
@use './styles/utilities';

// Material overrides LAST
@use './styles/overrides';

/* Importing @ngxpert/hot-toast SCSS file. */
@use '@ngxpert/hot-toast/styles';

.cdk-overlay-pane.product-lightbox-dialog {
	height: 100vh !important;
	max-width: 100vw !important;
	width: 100vw !important;
}

.product-lightbox-dialog .mat-mdc-dialog-container,
.product-lightbox-dialog .mdc-dialog__surface,
.product-lightbox-dialog .mat-mdc-dialog-surface {
	background: #000 !important;
	border-radius: 0 !important;
	height: 100vh !important;
	max-height: 100vh !important;
	max-width: 100vw !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 100vw !important;
}


