@use '@angular/material' as mat;
@use 'tailwindcss';
/* Importing @ngxpert/hot-toast SCSS file. */
@use '@ngxpert/hot-toast/styles';

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;

  @include mat.dialog-overrides(
    (
      container-shape: 6px,
    )
  );

  --mat-sys-body-large-size: 0.875rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

.elevated {
  box-shadow: var(--mat-sys-level2);
}

button[matButton] {
  @include mat.button-overrides(
    (
      filled-container-shape: 6px,
      outlined-container-shape: 6px,
      text-container-shape: 6px,
      protected-container-shape: 6px,
      tonal-container-shape: 6px,
      filled-horizontal-padding: 12px,
      outlined-horizontal-padding: 12px,
      text-horizontal-padding: 12px,
      protected-horizontal-padding: 12px,
      tonal-horizontal-padding: 12px,
      filled-icon-spacing: 0px,
      filled-icon-offset: 1px,
      filled-container-height: 36px,
      outlined-container-height: 36px,
      text-container-height: 36px,
      protected-container-height: 36px,
      tonal-container-height: 36px,
    )
  );
}

button[matButton='outlined'].danger {
  @include mat.button-overrides(
    (
      outlined-label-text-color: var(--mat-sys-error),
      outlined-outline-color: var(--mat-sys-error),
      outlined-state-layer-color: var(--mat-sys-error),
    )
  );
}

button[matIconButton] {
  @include mat.icon-button-overrides(
    (
      container-shape: 6px,
    )
  );
}

button[matIconButton].danger {
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-error),
      state-layer-color: var(--mat-sys-error),
    )
  );
}

button[matIconButton].small {
  @include mat.icon-button-overrides(
    (
      icon-size: 24px,
      touch-target-size: 28px,
      state-layer-size: 28px,
    )
  );
}

mat-icon.small {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.danger {
  color: var(--mat-sys-error);
}

mat-form-field {
  @include mat.theme(
    (
      density: -4,
    )
  );

  width: 100%;
}

mat-sidenav {
  @include mat.sidenav-overrides(
    (
      container-width: 250px,
      container-shape: 0px,
      container-background-color: white,
      container-divider-color: var(--mat-sys-outline-variant),
    )
  );

  @include mat.list-overrides(
    (
      active-indicator-color: var(--mat-sys-primary),
      active-indicator-shape: 6px,
      list-item-one-line-container-height: 40px,
    )
  );
}

// Style to fix the weird border with angular material + tailwindcss
.mdc-notched-outline__notch {
  border-right: none !important;
}

//Responsive grid
.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1rem;
}





.mat-mdc-menu-panel {
    min-width: 112px;
    max-width: 961px !important;
    overflow: auto;
    box-sizing: border-box;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    animation: _mat-menu-enter 120ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: var(--mat-menu-container-shape, var(--mat-sys-corner-extra-small));
    background-color: var(--mat-menu-container-color, var(--mat-sys-surface-container));
    box-shadow: var(--mat-menu-container-elevation-shadow);
    will-change: transform, opacity;
}