@use '@angular/material' as mat;
@use 'tailwindcss';


// skeletons and placeholders
@use './styles/skeleton';

// Core system
@use './styles/theme';

// UI layers
@use './styles/layout';
@use './styles/buttons';

// Helpers
@use './styles/utilities';

// Material overrides LAST
@use './styles/overrides';

/* Importing @ngxpert/hot-toast SCSS file. */
@use '@ngxpert/hot-toast/styles';

.cdk-overlay-pane.product-lightbox-dialog {
	height: 100vh !important;
	max-width: 100vw !important;
	width: 100vw !important;
}

.product-lightbox-dialog .mat-mdc-dialog-container,
.product-lightbox-dialog .mdc-dialog__surface,
.product-lightbox-dialog .mat-mdc-dialog-surface {
	background: #000 !important;
	border-radius: 0 !important;
	height: 100vh !important;
	max-height: 100vh !important;
	max-width: 100vw !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 100vw !important;
}






/* advertisement dialog styles */
.ad-dialog-panel {
  .mat-mdc-dialog-container {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    overflow: visible !important;
  }
  .mdc-dialog__surface {
    background: transparent !important;
    box-shadow: none !important;
    overflow: visible !important;
    border-radius: 0 !important;
    max-height: unset !important;
  }
}


/* DARK BLUR BACKDROP */
.ad-dialog-backdrop {
  // background: rgba(0, 0, 0, 0.72) !important;
  // background-color: color-mix(in oklab, #e3e3e3 50%, transparent);
  // gradient background focus on center
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.72) 50%, rgba(0, 0, 0, 0.72) 100%) !important;
  backdrop-filter: blur(6px);
}
