<div class="mx-auto w-full max-w-300 px-4 py-6 sm:px-6 lg:px-8">
  <app-back-button class="mb-6 block" navigateTo="/cart">Back to Cart</app-back-button>
  <h1 class="mb-4 text-3xl font-extrabold">Checkout</h1>

  @if (delivery()) {
    <div class="mb-6 rounded border-l-4 border-yellow-500 bg-yellow-100 p-4 text-yellow-700" role="alert">
      <p class="font-bold">Delivery Notice</p>
      <p>
        Since you have delivery enabled, please ensure your address is correct. Delivery times may vary based on your
        location.
      </p>
    </div>
  }

  <div class="grid grid-cols-1 gap-6 lg:grid-cols-5">
    @if (delivery()) {
      <div class="lg:col-span-3 flex flex-col gap-6">
        <app-shipping-form></app-shipping-form>
        <app-payment-form></app-payment-form>
      </div>

      <div class="lg:col-span-2 flex flex-col gap-5">
        <app-summarize-order>
          <ng-container actionButtons>
            @for (item of store.cartItems(); track item.product.id) {
              <div class="flex justify-between text-sm">
                <span>{{ item.product.name }} x {{ item.quantity }}</span>
                <span>{{ (item.product.price * item.quantity) | currency }}</span>
              </div>
            }
          </ng-container>

          <ng-container actionButtons>
            <button
              matButton="filled"
              class="mt-6 w-full py-3"
              [disabled]="store.loading()"
              (click)="store.placeOrder()"
            >
              {{ store.loading() ? 'Processing...' : 'Place Order' }}
            </button>
          </ng-container>
        </app-summarize-order>
      </div>
    } @else {
      <div class="lg:col-span-3 flex flex-col gap-6">
        <app-location></app-location>
      </div>

      <div class="lg:col-span-2 flex flex-col gap-5">
        <app-collection-details></app-collection-details>

        <app-summarize-order>
          <ng-container actionButtons>
            @for (item of store.cartItems(); track item.product.id) {
              <div class="flex justify-between text-sm">
                <span>{{ item.product.name }} x {{ item.quantity }}</span>
                <span>{{ (item.product.price * item.quantity) | currency }}</span>
              </div>
            }
          </ng-container>

          <ng-container actionButtons>
            <button
              matButton="filled"
              class="mt-6 w-full py-3"
              [disabled]="store.loading()"
              (click)="store.placeOrder()"
            >
              {{ store.loading() ? 'Processing...' : 'Place Order' }}
            </button>
          </ng-container>
        </app-summarize-order>
      </div>
    }
  </div>
</div>